
html,
body {
    background-color: #d1e8ff;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #55c403;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: none;
  border-radius: 2px;
  padding: 0 2rem;
  margin: 0 0.1rem;
}

.btn:hover, .btn-large:hover {
  background-color: #2bbbad;
}

.btn:active {
    background-color: #1d7d74;
}

header {
    width: 100%;
    justify-content: center;
    display: flex;
}


.inp {
    margin: 10px 75px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}


.app {
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}


.clicked {
    background-color: #d83200;
    color: aliceblue;
}

/*.collection {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}
*/
.list .list-item {
  background-color: #ffff;
  line-height: 1.5rem;
  padding: 1% 2%;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  list-style: none;
}

.list .list-item.active {
  background-color: #55c403;
  color: #eafaf9;
}


@media screen and (min-width: 1001px) {

    aside {
        flex: 1;
        margin: 0;
        min-width: 25%;
        max-width: 25%;

    }


    .list {
        margin: 0;
        font-size: 90%;
        /*justify-content: stretch;*/
        /*float: left;*/

    }


    .map {
        flex: 1;
        height: 500px;
        min-width: 150px;
        max-width: 70%;
        width: 75%;
        /*justify-content: right;*/
        margin: 0;
    }

    /* */
}
@media screen and (min-width: 501px) and (max-width: 1000px) {

    .inp {
        margin: 0 50px;
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
    }


    .app {
        display: flex;
        flex-wrap: wrap;
    }


    aside {
        margin: 0;
        width: 100%;

    }


    .list {
        /*flex: 1;*/
        margin: 0;
        font-size: 90%;
        max-height: 300px;
        flex-wrap: wrap;
    }


    .map {
        /*flex: 1;*/
        min-height: 300px;
        width: 100%;
        margin: 0;
    }
}


@media screen and (max-width: 500px) {

    .inp {
        margin: 0 50px;
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
    }


    aside {
        /*flex: 1;*/
        margin: 0;
        width: 100%;

    }


    .list {
        margin: 0;
        font-size: 90%;
    }


    .map {
        /*flex: 1;*/
        min-height: 400px;
        width: 100%;
        margin: 0;
    }
}